.Content{
    width: 85%;
    border-top: 3px solid #000;
    margin: 0 auto;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
.ContentTitle{
    text-align: center;
    margin: 20px 0;
}
.CategoryTitle{
    letter-spacing: 2px;
    font-size: 30px;
    font-weight: 300;
    text-transform: capitalize;
}


.ProductArea{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
}
.Product{
    width: 280px;
    border: 1px solid #cecece;
    border-radius: 5px;
    text-align: center;
    margin: 0 10px 10px 0;
}
.Product > .ProductImage{
    width: 80%;
    height: 300px;
    overflow: hidden;
    margin: 0 auto;
}
.Product > .ProductImage > img{
    max-width: 100%;
    height: 300px;
}
.ProductDetails{
    margin: 20px 0;
}

.ContentBody{
    display: flex;
}
.ContentBody .SideMenu{
    flex: 2;
}
.ContentBody .MainContent{
    flex: 8;
}
.SideMenu{
    border: none;
    margin-right: 10px;
    box-sizing: border-box;
}
.SideMenu .SideMenuTitle{
    font-size: 18px;
    border-bottom: 1px solid #cecece;
    padding: 5px 10px;
}
.Filter .FilterTitle{
    font-size: 16px;
    font-weight: bold;
    padding: 5px 10px;
}
.SideMenu ul{
    position: relative;
}
.SideMenu ul li{
    margin-left: 10px;
    font-size: 14px;
}
.SideMenu > ul > li > a:nth-of-type(1){
    font-weight: bold;
}
.FilterButton{
    background: #eee;
    border: 1px solid #cecece;
    width: 95%;
    margin: 2px 5px;
    padding: 5px 0;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
}

.Filter {
    display: flex;

}
.Drake{
    width: 200px;
    height: 250px;
    margin-right: 50px;
}
.Albumimg{
    width: 200px;
    height: 200px;
    border: none;
}

.Katy{
    width: 200px;
    height: 250px;
    margin-right: 50px;
}


.Album-covers{
    display: flex;
    margin-left: 20px;
}

.Filter > select{
    border: none;
    background-color: rgb(70, 70, 70);
    color: rgb(255, 255, 255);
    margin-top: 5px;
    border-radius: 3px;
    margin-left: 5px;
}

.FilterSecond .FilterTitle{
    font-size: 16px;
    font-weight: bold;
    padding: 5px 10px;
}

@media screen and (max-width: 800px) {
    .Filter > .FilterTitle {
        display: none;
    }
    .Filter > select {
        margin-bottom: 3px;
        margin-left: 10px;
        width: 70%;
        height: 20px;
    }
    .FilterSecond > .FilterTitle {
        display: none;
    }
    .FilterSecond {
        margin-right: 2px;
    }
    .Album-covers {
        display: block;
        margin-left: 40px;
    }
}